@charset "UTF-8";

body{
    background-image: linear-gradient(68.15deg, #2f2325 66.62%, #825d52 85.61%);
    color: white;
    font-family: "Arial Narrow";
    padding: 5px 40px;
}
a{
    text-decoration: none;
    color: antiquewhite;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 16px;
}
header img{
    width: 600px;
    height: 250px;
    border-radius: 3%;
    border: 5px solid rgb(98, 158, 98);
}
.center{
    text-align: center;
}
h1{
    color: rgb(98, 158, 98);
    padding-left: 10px;
}
h2{
    color: olive;
    padding-left: 30px;
}
h3{
    color: orange;
}
.paragrafo{
    text-align: justify; 
}
.cabecalho img{
    width: 60px;
    height: 60px;
    border: none;
    padding-top: 3px;
}
footer img{
    width: 40px;
    height: 40px;
    background-color: rgb(100, 98, 98);
}
footer{
    display: flex;
    justify-content: center;
}
footer a{
    margin: 20px;
    text-align: center;
}
footer p{
    margin-top: 5px;
}
nav a:hover{
    color: rgb(98, 158, 98);
}

@media (max-width: 680px){
    header img{width: 100%; height: auto;}
}
